@import '@nuclearplayer/tailwind-config';
@source "../components";
@source "../layouts";
@source "../pages";

.bg-grid-pattern {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, var(--color-foreground) 1px, transparent 1px),
    linear-gradient(to bottom, var(--color-foreground) 1px, transparent 1px);
}

.bg-paper-texture {
  background-image: url('/textures/paper.png');
  background-size: cover;
  background-position: center;
}

.paper-sheet {
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.04),
    0 2px 2px rgba(0, 0, 0, 0.04),
    0 4px 4px rgba(0, 0, 0, 0.04),
    0 8px 8px rgba(0, 0, 0, 0.04),
    0 16px 16px rgba(0, 0, 0, 0.04),
    0 32px 32px rgba(0, 0, 0, 0.04);
}
